{% extends 'restaurant/base_bootstrap_black_edition.html' %}
{% block content3 %}
{% load poll_extras %}
<div class="container-fluid" style="margin: 0 auto; max-width: 900px;">
		<div class="well">
	        	<h1>Start to run your business</h1>
	        	<p>Welcome back, feay1234. By filling out the form below, you can add another blog to your account. There is no limit to the number of blogs you can have, so create to your heart’s content, but blog responsibly. If you’re not going to use a great blog domain, leave it for a new user. Now have at it! Get started with WordPress.com by filling out this simple form:</p>
	        	<div id="create_restaurant_panel" style="display:none;padding-top:5px" class="row-fluid">
	        			<div class="span4 select-block" onclick="new_business('restaurant')">
                            <h3>Restaurant</h3>
                        </div>
                        <div class="span4 select-block" onclick="new_business('takeaway')">
                            <h3>Take away</h3>
                        </div>
                        <div class="span4 select-block" onclick="new_business('shop')">
                            <h3> Shop</h3>
                        </div>
                </div>
            		           
            			  	
			   	<br>
			   	<a class="btn btn-large btn-primary" id="flip">Create new restaurant &raquo;</a>
		</div>
		<div class="row-fluid" style="background-color:white;">
            <br>
            {% for i in restaurant %}
                <div class="container-fluid">
                    <div class="media">
                        <img class="pull-left" alt="fpo" src="{{ MEDIA_URL }}{{i.picture}}" width="70px" height="70px">
                        <div class="media-body">
                            <a href="/restaurant/business/{{i.name}}" class='lead'>{{i.name}}</a>
                            <span class="badge badge-success">2</span>
                            <hr>
                            <ul class="inline">
                              <li><a href="/restaurant/admin/{{i.name}}"class="btn btn-primary">Admin Page</a></li>
                              <li><a class="btn btn-success">Check Stats</a></li>
                              <li><a class="btn btn-danger">Update Info</a></li>
                              <li><a class="btn">Change Appearance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}

		</div>
</div>


<script type="text/javascript">
// $.get('/restaurant/get_business',{}, function(data){
// 	for (var i=0;i<data.length; i++){
// 		if((i+1)%2 == 1){
// 			createBusinessBlock(data[i],$('#block-column1'))
// 		}
// 		else{
// 			createBusinessBlock(data[i],$('#block-column2'))
// 		}	
// 	}
// })


$(document).ready(function(){
  $("#flip").click(function(){
    $("#create_restaurant_panel").slideDown("slow");
    $(this).hide()
  });
});
function createBusinessBlock(data, column){
    var row = document.createElement("div")
    var img = document.createElement("img")
    var legend = document.createElement("legend")
    var p1 = document.createElement("p")
    var p2 = document.createElement("p")
    var p3 = document.createElement("p")
    var p4 = document.createElement("p")
    var p5 = document.createElement("p")
    var br = document.createElement("br")

    row.setAttribute("class", "business-block")
    row.setAttribute("href", "/restaurant/business/"+data['name'])
    $(row).click(function(e){
    	window.location = $(this).attr("href");
    })

    $(img).attr('src',  '{{MEDIA_URL}}imgs/'+data['picture'])
    $(img).attr('height',  '100px')
    $(img).attr('width',  '100px')
    legend.innerHTML = data['name'];
    p1.innerHTML = data['address'];
    p2.innerHTML = data['city'];
    p3.innerHTML = data['country'];
    p4.innerHTML = data['zip_code'];
    p5.innerHTML = data['telephone'];
    p1.innerHTML = data['address'];
    $(row).append(img)
    $(row).append(legend)
    $(row).append(p1)
    $(row).append(p2)
    $(row).append(p3)
    $(row).append(p4)
    $(row).append(p5)

    column.append(row)
    column.append(br)
}
function new_business(type){

    window.location = "/restaurant/new_business/"+type;
}
</script>
{% endblock %}}