{% extends 'restaurant/base_bootstrap_black_edition.html' %}
{% block content3 %}
	<div class="container2" style="margin: 0 auto; padding-top:20px; max-width:900px;">
		<div style="background-color:white;">   
     		<!-- <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/556334_10151559830962014_2068011705_n.jpg" style="width:100%; height:300px"> -->
     		<div id="myCarousel" class="carousel slide row-fluid">
	 		<ol class="carousel-indicators">
	 		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	 		    <li data-target="#myCarousel" data-slide-to="1"></li>
	 		    <li data-target="#myCarousel" data-slide-to="2"></li>
	 		</ol>
	 		<div class="carousel-inner">
		 		<div class="item active">
		 			<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/556334_10151559830962014_2068011705_n.jpg" alt="Image" style="width:100%; height:300px"/>
		 		</div>
		 		<div class="item">
		 			<img src="http://www.kettlecuisine.com/assets/images/home/slideshow/2.jpg"  style="width:100%; height:300px"/>
		 		</div>
		 		<div class="item">
		 			<img src="http://rumbaonpike.com/images/hero_tacos.jpg" style="width:100%; height:300px" alt="Image"/>
		 		</div>
	 		</div>
 		</div>
 		<div class="media">
     		  <a class="pull-left" href="#">
     		    <img class="media-object" src="{{MEDIA_URL}}{{restaurant.picture}}" style="height:150px; width:150px">
     		  </a> 		  
     		  <div class="media-body">
     		  	<div class="span8">
     		  				<h1 id="title" restaurant_id="{{restaurant.id}}" type="{{type}}">{{restaurant.name}}</h1>
     		    			<p>{{restaurant.description}}</p>
			    		  	{% if restaurant.user != userProfile %}
					  	  		{% if restaurant in userProfile.follower.all %}
					  	  			<button id="followBtn" class="btn btn-primary" follow="true" onclick="follow(this)">Following</button>
					  	  		{% else %}
					  	  			<button id="followBtn" class="btn btn-primary " follow="false" onclick="follow(this)">Follow</button>
					  	  		{% endif %}
			    		  	  	
			    		  	{% endif %}
			    		  	
     		  	</div>
  	     		<div class="span4">
 		  		  	<ul class="inline" style="text-align:center;">
 		  				<li><h3>{{restaurant.visiting}}</h3><p>visiting</p></li>
 		  				<li><h3>{{restaurant.visitor}}</h3><p>visitor</p></li>
 		  				<li><h3>{{restaurant.follow}}</h3><p>Follower</p></li>
 		  			</ul>
 		  			<ul class="nav nav-pills ">
			          <li ><a href="/restaurant/business/{{restaurant.name}}">Home</a></li>
			          <li class="active"><a href="#f">Follower</a></li>
			          <li><a href="/restaurant/business/{{restaurant.name}}/about">About</a></li>
			        </ul>
  	     	  	</div>
     		  </div>
 		</div>
 		<br>
 		<div class=''>
 			<legend>Admins</legend>
 			<img class="media-object" src="{{MEDIA_URL}}{{restaurant.user.picture}}" style="height:100px; width:100px;">
 			<legend>Staff</legend>
 			<legend>Follower</legend>
 			<ul class="inline">
 			{% for i in restaurant.follower.all %}
 				<li><img class="media-object" src="{{MEDIA_URL}}{{i.picture}}" style="height:100px; width:100px;"><li>
 			{% endfor %}
 			</ul>
 		</div>
 	</div>

{% endblock %}