{% extends 'restaurant/base_bootstrap_black_edition.html' %}
{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header"><h6>User Profiel</h6></li>
      <li><a href="/restaurant/"><i class="icon-home"></i> Home</a></li>
      <li>
        <a href="#">
          <i class="icon-pencil"></i> 
          Applications 
          <span class="badge badge-warning pull-right">6</span>
        </a>
      </li>
      <li><a href="#"><i class="i"></i> Misc</a></li>
  <li class="nav-header"><h6>Restaurant</h6></li>
      <!-- <li><a href="#"><i class="icon-home"></i> Home</a></li>
      <li><a href="/restaurant/restaurant_home/"><i class="icon-book"></i> Restaurant</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Applications</a></li> -->
      {% if restaurant_list %}
            {% for res in restaurant_list %}
                {% if res.url == restaurant_selected.url %}
                  <li class="active"><a href="/restaurant/{{ res.url }}/restaurant_home"><i class="icon-home"></i>{{res.url}}</a></li>

                {% else %}
                  <li><a href="/restaurant/{{ res.url }}/restaurant_home"><i class="icon-home"></i>{{res.url}}</a></li>
                {% endif %}
            {% endfor %}
    {% else %}
            
    {% endif %}


      <li><a type="button" data-toggle="collapse" data-target="#demo"><i class="icon-plus-sign"></i>Create restaurant2</a></li>

    <div id="demo" class="collapse">
      <form id="create_restaurant" method="post" action="/restaurant/create_restaurant/">
        {% csrf_token %}
        <fieldset>
          <label>Restaurant Name</label>
          <input type="text" placeholder="Type something…" name="restaurant_name" id="restaurant_name">
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>

    </div>  
    <!-- <li><a href="#create_restaurant" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i>Create restaurant</a></li> -->
 
      <!-- role="button" class="btn" data-toggle="modal" -->
  <li class="nav-header"><h6>Store</h6></li>
      


</ul>


<!-- Create Restaurant Modal-->
<div id="create_restaurant" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <form>
        <fieldset>
          <label>Restaurant Name</label>
          <input type="text" placeholder="Type something…">
          <button type="submit" class="btn">Submit</button>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Create</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


{% endblock %}

{% block content3 %}
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_home">Home</a></li>
          <li class="active"><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_services/">Services</a></li>
          <li><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_kitchen/">Kitchen</a></li>
          <li><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_stock/">Stock</a></li>
          <li><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_employee">Employee</a></li>
          <li><a href="/restaurant/{{ restaurant_selected.url }}/restaurant_statistic">Statistic</a></li>
        </ul>
        <h3 class="muted">{{ restaurant_selected.url }}</h3>
      </div>
      <hr>

      	<div class="row-fluid">
    {% if table_list %}

		{% for i in table_list %}
	    	<div class="span2">
	    		<!-- #dff0d8  #f2dede red -->
	    		{% if i.available %}
		            <div class="thumbnail" style="background-color: #dff0d8">
		        {% else %}
		        	<div class="thumbnail" style="background-color: #f2dede">
		        {% endif %}
		               <div class="caption">
		                    <h3 style="text-align: center">Table {{i.number}}</h3>
		                    <p style="align: center;">
		                    	<a href="#Menu{{i.number}}" role="button" class="btn btn-primary" data-toggle="modal">Menu</a>
		                    	<button class="btn btn-success" onclick="display_info({{i.number}},{{ restaurant_selected.url }})">Info</button>
		                    </p>
		                    <p>
		                    	<a href="#" class="btn btn-warning">Book</a>
		                    	<a href="#" class="btn btn-danger">Pay</a>

		                    </p>
		                </div>
		            </div>
	        </div>
	        <!-- -----------------------------------------------------------------------------------Modal -->
			<div id="Menu{{i.number}}" class="modal-service hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			    <h3 id="myModalLabel">Table {{i.number}}</h3>
			    			
			  </div>
			  <div class="modal-body">
			  				
			  	<div class="row-fluid">
		  			<!-- <div class="container"> -->
		  				<div class="span8">
							<div class="tab-content">
							  <ul id="myTab" class="nav nav-tabs nav-fixed-top">
							  	<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
							  	<li><a href="#profile" data-toggle="pill">Profile</a></li>
							  	<li><a href="#messages" data-toggle="tab">Messages</a></li>
							  	<li><a href="#settings" data-toggle="tab">Settings</a></li>
							  </ul>
							 
							  <div class="tab-pane in active" id="home">
							  <div class="span12">
							  	<div class="row-fluid">
	                            {% load poll_extras %}
	                            {% if food_list %}

	                                {% for j in loop_food %}
	                            
	                                  {% with  j|to_int as a %}
	                                    <div class="span3">
										  	<div class="thumbnail">
										      <img src="http://placehold.it/150x150&text=[img]" />
										      <h3>{{ food_list|lookup:a }}</h3>
										     	 {{ food_list|lookup_food_des:a }}
										      <h5>{{ food_list|lookup_food_price:a }}</h5>
										      <button class="btn btn-large btn-primary" type="button" onclick="add_order({{i.number}},'{{ food_list|lookup:a }}')">Add</button>
										    </div>
										</div>
										{% endwith %}   
									  
	                                  {% if j|divisibleby:"4" %}
	                                    </div>
	                                    </br>
	                                    <div class="row-fluid">
	                                  {% endif %} 
	                                  

	                                                               
	                                {% endfor %}
	                                </div>
	                            {% else %}
	                            </div>
	                            {% endif %}
								  	
								</div>
					
									
									
									
								<!-- </div> -->
							  </div>
							  



							  <div class="tab-pane" id="profile">..222.</div>
							  <div class="tab-pane" id="messages">...3333</div>
							  <div class="tab-pane" id="settings">...ss4444444444444sssssssssss</div>
							</div>
				 		</div>
				 		<div class="span4">
							<div class="well sidebar-nav" id="{{i.number}}">
									
									  Table {{i.number}}      order.
									  
									  
							</div>
							
						</div>
				</div> 

			  </div>
			  <div class="modal-footer">
			  	<button class="btn btn-primary" onclick="send_order({{i.number}})">Send Order</button>
			    <button id="close_modal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			  </div>
			</div>

			<!-- -----------------------------------------------------------------------------------Modal -->
	        {% if i.number|divisibleby:"6" %}
	        	</div>
	        	</br>
	        	<div class="row-fluid">
	        {% endif %}		        	
	    {% endfor %}

	    {% if not  table_list|length|divisibleby:"6" %}
			</div>
			</br>
		{% endif %}  


	{% else %}
		<div class="jumbotron">
	        <h1>Marketing stuff!</h1>
	        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	        <a class="btn btn-large btn-success" data-toggle="collapse" data-target="#create_table">Create tables</a>
	        

		    <div id="create_table" class="collapse">
		      <form id="create_table" method="post" action="/restaurant/{{ restaurant_selected.url }}/create_table/">
		        {% csrf_token %}
		        <fieldset>
		          <label>Number of tables in your restaurant</label>
		          <input type="number" placeholder="Type something…" name="table_number" id="table_number">
		          <button type="submit" class="btn">Submit</button>
		        </fieldset>
		      </form>

		    </div>
      </div>

	{% endif %}
	<div id="info_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Modal header</h3>
          <p id="test1">This is a paragraph.</p>
        </div>
        <div class="modal-body">
          <p id="table">{{food_list.name}}</p>
          <div class="row-fluid">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Food Name</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tbody">
                
              </tbody>
            </table>

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </div>


    	


      











		{% csrf_token %}
		<script type="text/javascript">
			function add_order(table_number,food_name)
			{
				var para=document.createElement("p");
				para.setAttribute("class", "food_name")
				var node=document.createTextNode(food_name);
				para.appendChild(node);

				var element=document.getElementById(table_number);
				element.appendChild(para);
			}
			function send_order(table_number)
			{
				// var elements = document.getElementById(table_number).childNodes;
				
				var elements = document.getElementsByClassName("food_name");
				var food_order_list = new Array();
				var form = document.createElement("form");
				// form.setAttribute('method','POST')
				form.setAttribute('action',"/restaurant/{{ restaurant_selected.url }}/send_order");
				
				for (var i=0;i<elements.length;i++){
					food_order_list[i] = elements[i].textContent;
				}
				var input = document.createElement("input");
				input.setAttribute("name", "food_order_list");
				input.setAttribute('value',food_order_list);

				
				var input2 = document.createElement("input");
				input2.setAttribute("name", "table_number");
				input2.setAttribute('value', table_number);


				form.appendChild(input);
				form.appendChild(input2);
				form.submit();
				




				var button = document.getElementById("close_modal");
				button.click();
				
			}
			function display_info(table_number,restaurant_url_selected){
			  $('#tbody').empty();
	          $('#info_modal').modal('toggle');
	          $.get('/restaurant/get_order', {restaurant_url_selected:restaurant_url_selected,table_number: table_number}, function(data){
	          		for (var i = 0; i < data.length; i += 1) {
	          			$("#tbody").append("<tr><td>"+(i+1)+"</td>"+
                  							"<td>"+data[i].fields.food+"</td>"+
                  							"<td>"+data[i].fields.datetime+"</td>"+
                  							"<td>"+data[i].fields.status+"</td></tr>");
  					}
  						var td = document.createElement("td")
  						var span = document.createElement("span")
  						span.document.setAttribute("class", "label label-warning")			
  						span.innerHTML(data[i].fields.status)	

	          					}
	                     
					 				
		                            
	             );
	          
	       }
	       
		</script>         
					

	 

	


            
          

{% endblock %}
{% block content2 %}

{% endblock %}